In [1]:
sc

In [2]:
from pyspark.sql import SQLContext

In [5]:
sqlContext = SQLContext(sc)

In [4]:
sqlContext.sql("CREATE EXTERNAL TABLE images (id INT, mat ARRAY<BIGINT>) LOCATION 'hdfs://master:9000/user/hive/images'")

DataFrame[]

In [5]:
tables = sqlContext.sql("SHOW TABLES")

In [6]:
tables.show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| default|   images|      false|
+--------+---------+-----------+

In [8]:
from pyspark.sql.functions import when

In [9]:
tables.select('tableName').show()

+---------+
|tableName|
+---------+
|   images|
+---------+

In [10]:
tables.select('tableName').collect()

[Row(tableName=u'images')]

In [12]:
from pyspark.sql import Row

In [16]:
'tableName' in Row(tableName=u'images')

True

In [17]:
row = Row(tableName=u'images')

In [18]:
'images' in row.asDict().values()

True

In [19]:
a = [[1], [2, 3], [4, 5, 6]]

In [20]:
[1 in i for i in a]

[True, False, False]

In [21]:
any([1 in i for i in a])

True

In [22]:
all([1 in i for i in a])

False

In [7]:
rdd = sc.parallelize([(1, 2, 3, 4, 5)], 7)

In [8]:
rdd.getNumPartitions()

7

In [9]:
df = sqlContext.createDataFrame(rdd, ['1', '2', '3', '4', '5'])

In [10]:
df.show()

+---+---+---+---+---+
|  1|  2|  3|  4|  5|
+---+---+---+---+---+
|  1|  2|  3|  4|  5|
+---+---+---+---+---+

In [11]:
df.write.save("hdfs://master:9000/user/hive/test.parquet", format='parquet')

In [12]:
df.unionAll(df).show()

+---+---+---+---+---+
|  1|  2|  3|  4|  5|
+---+---+---+---+---+
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
+---+---+---+---+---+

In [13]:
for _ in range(4):
    df = df.unionAll(df)

In [14]:
df.show()

+---+---+---+---+---+
|  1|  2|  3|  4|  5|
+---+---+---+---+---+
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
|  1|  2|  3|  4|  5|
+---+---+---+---+---+