In [1]:
sc

In [2]:
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SQLContext
import time
import sys
from generator_images import captcha_generator as gen
import matplotlib.pyplot as plt

In [3]:
chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabdefghijlmnqrtuwxy"
width, height, n_len, n_class = 140, 44, 6, len(chars)

In [5]:
sqlContext.sql("CREATE EXTERNAL TABLE images6 (id INT COMMENT 'id of images', mat ARRAY<ARRAY<ARRAY<ARRAY<BIGINT>>>> \
COMMENT 'array of list') COMMENT \
'This is used to store images' ROW FORMAT DELIMITED \
FIELDS TERMINATED BY '\t' STORED AS TEXTFILE LOCATION 'hdfs://master:9000/user/hive/images6'")
sqlContext.sql("DESCRIBE TABLE images5").show()

+--------+--------------------+-------------+
|col_name|           data_type|      comment|
+--------+--------------------+-------------+
|      id|                 int| id of images|
|     mat|array<array<array...|array of list|
+--------+--------------------+-------------+

In [6]:
start_time = time.time()
num = 0
image = gen(width=width, height=height)
while num < 10:
    X, y = image.next()
    newimage = sqlContext.createDataFrame([(num, X.tolist())], ['id', 'mat'])
    newimage.write.mode('append').insertInto('images5')
    num += 1
    end_time = time.time()
    print '--------------------------%d----------------------------'%num
    print 'the total time is', end_time - start_time
    print 'the average time is', (end_time - start_time)/64.0 /num

--------------------------1----------------------------
the total time is 17.2170410156
the average time is 0.269016265869
--------------------------2----------------------------
the total time is 22.7795240879
the average time is 0.177965031937
--------------------------3----------------------------
the total time is 28.1341161728
the average time is 0.146531855067
--------------------------4----------------------------
the total time is 33.0543091297
the average time is 0.129118395038
--------------------------5----------------------------
the total time is 38.0547192097
the average time is 0.11892099753
--------------------------6----------------------------
the total time is 44.0207960606
the average time is 0.114637489741
--------------------------7----------------------------
the total time is 49.511439085
the average time is 0.1105166051
--------------------------8----------------------------
the total time is 55.1986200809
the average time is 0.107809804846
--------------------------9----------------------------
the total time is 61.3466601372
the average time is 0.106504618294
--------------------------10----------------------------
the total time is 67.8633961678
the average time is 0.106036556512